#events-viewer {
  display: flex;
}

#events-viewer .datepicker--day-name {
  color: #965bd2;
}

#events-viewer .datepicker--cell.-current- {
  color: #5fcc5f;
}

#events-viewer .datepicker--cell.-selected-,
#events-viewer .datepicker--cell.-selected-.-current- {
  color: #FFFFFF;
  background: #5fcc5f;
}

#events {
  height: 300px;
  overflow: auto;
  position: relative;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.datepicker--cell {
  flex-wrap: wrap;
}

.datepicker--cell-day--date {
  text-align: center;
}

.datepicker--cell-day--date {
  width: 100%;
}

.datepicker--cell-day--date + .has-events {
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: 3px;
  background: #965bd2;
  /* border-bottom: 2px solid #965bd2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */
}

.events-by-date {
  background: #EFEFEF;
}

.events-by-date.is-upcoming {
  background: #FFFFFF;
}

.events-by-date--date {
  font-weight: 800;
  font-family: 'Source Code Pro';
  color: #5fcc5f;
}

.events-by-date--event {
  margin: 0;
  border-bottom: 1px dotted #965bd2;
}
.events-by-date--event:last-child {
  border-bottom: 1px solid #965bd2;
}

.event--description,
.event--location {
  font-size: 0.75em;
  line-height: 1.35em;
}

.event--program-title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.event--program-title--time {
  font-weight: 100;
  font-family: 'Source Code Pro';
}

.event--description {
  margin-top: 0;
}

.event--image {
  width: 100%;
}